<h2>Клиент <%= @list.name %></h2>

<p>Имя: <%= @list.name %></p>
<p>Телефон: <%= @list.phone %></p>
<p>Дата/время: <%= @list.datestamp %></p>
<p>Категория: <%= @list.option %></p>
<p>Сообщение: <%= @list.message %></p>
<hr />
<a href="/secure/place">&larr; Назад к списку</a>