<h2>Обратная связь</h2>
<p>Вы можете написать нам.</p>

<script src="/jquery.datetimepicker.js"></script>
<link rel="stylesheet" href="/jquery.datetimepicker.css">

<script type="text/javascript">

$(function() {
  // тут можно написать любой js-код, который исполнится после загрузки страницы
  $('#datetimepicker').datetimepicker();
});

</script>


<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="client[name]" type="text" class="form-control" placeholder="Ваше имя" value="<%= @c.name %>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="client[phone]" type="text" class="form-control" placeholder="Ваш телефон" value="<%= @c.phone %>">
  </div>

  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input id="datetimepicker" name="client[datestamp]" type="text" class="form-control" placeholder="Введите дату и время" value="<%= @c.datestamp %>">
  </div>

  <div class="form-group">
    <label>Ваш парикмахер:</label>
    <select name="client[option]" class="form-control">
  
      <% @options.each do |item| %>
        <option <%= @c.option == item.name ? 'selected' : '' %>><%= item['name'] %></option>
      <% end %>

    </select>
  </div>

  <div class="form-group">
    <label>Сообщение:</label>
    <textarea name="client[message]" type="text" rows="3" class="form-control" placeholder="Ваше сообщение"><%= @c.message %></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
